/* Header Background
------------------------------------*/

.background-header-image {
  z-index: 1;
  padding: 100px 0;
  position: relative;
  height: 100%;
  text-align: center;
  background: url(../images/bg/header-bg.jpg) no-repeat;
  background-size:cover;
  background-position: center;
}

.background-header-image:after {
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  content: " ";
  height: 100%;
  text-align: center;
  position: absolute;
  background: rgba(0,0,0,0.5);
}

header .intro-content {
  color: white;
  top:30%;
  text-align: center;
  position: relative;
}

  header .brand-name {
    font-size: 80px;
    line-height: 70px;
  }
  header .brand-name-subtext {
    font-size: 30px;
    line-height: 30px;
  }

.math-questions {
    padding-top: 20px;
    padding-left:50px;
    margin:0 auto;
}



#question, #total, #answer {
    min-height:20px;
    margin:0 auto;
    padding:20px;
}
        body {
    font-size:20px;
    background: lightgray;
        }

.math-form {
    margin:0 auto;
    text-align: center;
}

#total {
    top: 100px;
}
/* Header Background
------------------------------------*/
.background-body-image {
  z-index: 1;
  padding: 100px 0;
  position: relative;
  height: 100%;
  text-align: center;
  background: url(../images/bg/steampunk-header-background.jpg) no-repeat;
  background-size:cover;
  background-position: center;
}

.background-body-image:after {
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  content: " ";
  height: 100%;
  text-align: center;
  position: absolute;
  background: rgba(0,0,0,0.5);
}
