        body {
    font-size:20px;
    background: lightgray;
        }

.clear {
    clear:both;
}

.total-placement {
    color:green;
    padding-top:30px;
}

/* Header Text */

header .intro-content {
  color: white;
  top:30%;
  text-align: center;
  position: relative;
}

  header .brand-name {
    font-size: 80px;
    line-height: 70px;
  }

/* Header Background with Shading */
.background-header-image {
  z-index: 1;
  padding: 100px 0;
  position: relative;
  height: 100%;
  text-align: center;
  background: url(../images/bg/header-bg.jpg) no-repeat;
  background-size:cover;
  background-position: center;
}

.background-header-image:after {
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  content: " ";
  height: 100%;
  text-align: center;
  position: absolute;
  background: rgba(0,0,0,0.5);
}

/* Math Questions Section */

.math-questions-section {
    padding-top: 20px;
    padding-left:50px;
    margin:0 auto;
}

#question, #total, #answer {
    min-height:20px;
    margin:0 auto;
    padding:20px;
}
